/* Header.css */

@font-face {
  font-family: 'NunitoSans 7pt Condensed Black';
  src: url('../fonts/NunitoSans_7pt_Condensed-Black.ttf') format('truetype');
  font-weight: bold; /* Adjust font weight if necessary */
}

.header {
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; /* Increased padding for a larger header */
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px; /* Increased height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  z-index: 1000; /* Ensure the header stays above other content */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-container {
  max-width: 250px; /* Adjusted maximum width for the logo container */
  overflow: hidden; /* Prevents overflow if logo exceeds container */
}

.logo {
  width: auto; /* Allow the width to adjust according to height */
  height: 90px; /* Adjusted height */
  display: block; /* Ensures the logo respects its dimensions */
}

.header-center {
  text-align: center;
  font-family: 'NunitoSans 7pt Condensed Black', sans-serif; /* Change font family */
  font-size: 20px; /* Increased font size */
  font-weight: bold; /* Change font weight */
  color: #333; /* Change font color */
  flex-grow: 1; /* Allow the center content to take up remaining space */
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin: 0 15px; /* Increased margin for spacing */
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px; /* Adjusted font size */
}

.menu li a:hover {
  color: #c77210;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.btn1 {
  margin-left: 15px; /* Increased margin */
  padding: 10px 20px; /* Increased padding */
  border: none;
  background-color: #c77210;
  color: #fff;
  font-size: 16px; /* Adjusted font size */
  cursor: pointer;
  border-radius: 14px;
}

.btn2 {
  margin-left: 15px; /* Increased margin */
  padding: 10px 20px; /* Increased padding */
  border-color: black;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px; /* Adjusted font size */
  cursor: pointer;
  border-radius: 14px;
  width: auto;
}

.btn:hover {
  background-color: #c77210;
}
